<div class="home-container">
    <h1>¡Bienvenido!</h1>
    <p>Elige cómo quieres continuar:</p>
  
    <div class="options-container">
      <button class="boton-login" (click)="Login()">
        Iniciar Sesión
      </button>
  
      <button class="boton-invitado" (click)="Invitado()">
        Continuar como Invitado
      </button>
      <button class="boton-registrarse" (click)="Register()">
        Registrarse
      </button>
    </div>
  
    <p class="footer">Si ya tienes una cuenta, inicia sesión para acceder a todas las funcionalidades.</p>
  </div>