<ul>
    @for (user of userService.users; track $index){
}
<div class="page-listado">
    <div class="lista-restaurantes">
        @for (restaurante of userService.users; track $index) {
        <div class="card-restaurante">
            <div class="card-cuerpo">
                    <h4 class="card-titulo">{{ restaurante.restaurantName }}</h4>
                    <p class="card-texto"><strong>Dirección:</strong> {{ restaurante.address }}</p>
                    <p class="card-texto"><strong>Teléfono:</strong> {{ restaurante.phoneNumber }}</p>
                    <button (click)="viewMenu(restaurante.restaurantName)" class="btn btn-outline-primary mt-3">
                        Ver Menú
                    </button>
            </div>
        </div>
        }
    </div>
</div>